<div style="padding-top: 20px">

    <details class="tutorial">
        <summary style="padding: 10px 0 10px 0;">
            <span class="text-link" style="font-size: 20px; font-weight: bold;">
                {{ loc_tutorial_types }}
            </span>
        </summary>

        <div style="display: flex; flex-direction: column">
            <div class="dropdown input-field" style="width: 90%; margin: 0 0 5px 15px;" id="tutor-types-dropdown">

                <div id="t-type-value" class="text-link" onclick=setDropdown("tutor-types-dropdown") style="font-size: 16px">* {{ loc_add_new_type }} *</div>

                <div class="content" style="width: 90%; transform: translate(8px, 0) scale(1)">
                    <div style="padding: 2px 0 2px 0;">
                        <span class="text-link" id="t-type-new" onclick="addNewTType()">* {{ loc_add_new_type }} *</span><br>
                    </div>

                    {% for type in tutor_types %}
                        {% if type.lang_code == ui_lang_code %}
                            <div class="text-link" id="selector-t-type-{{ type.type_code }}"
                                 onclick="changeTTypeAdmin(this.id, {{ ui_lang_code }})">{{ type.dict_value }}</div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            {% for lang in ui_langs %}
            <form id="type-editor-form-{{ lang.lang_code }}" action="/{{ ui_lang_code }}/type/add" method="post">
                  <input id="t-type-code-{{ lang.lang_code }}" type="hidden" name="type_code" value="" required>
                  <input id="t-lang-code-{{ lang.lang_code }}" type="hidden" name="lang_code" value="{{ lang.lang_code }}" required>
                  <input id="t-type-word-code-{{ lang.lang_code }}" type="hidden" name="word_code" value="" required>

                  <label style="width: 20%">{{ lang.abbreviation.upper() }}
                    <input class="input-field" style="width: 50%; text-align: center" name="type_value" id="type-value-{{ lang.lang_code }}"
                           type="text" placeholder="{{ lang.lang_value }} (1-100)" value="" required>

                    <input id="submit-type-button-{{ lang.lang_code }}" type="submit" class="button foil pulse" name="submit" value="{{ loc_add_new }}">
                  </label>
            </form>
            {% endfor %}
        </div>

          <div class="button-section">
              <div id="delete-type-button" style="display: none">
                <form id="type-editor-form-deleter" action="" method="post">
                  <input type="submit" name="delete" class="button foil pulse" value="{{ loc_delete }}">
                </form>
              </div>
          </div>


        <!--        buffer-->
        <div style="display: none">
            {% for type in tutor_types %}
                <span id="type-value-{{ type.lang_code }}-{{ type.type_code }}">{{ type.dict_value }}</span>
            {% endfor %}

            {% for lang in ui_langs %}
                {% for type in tutor_types %}
                    <span id="type-word-code-{{ lang.lang_code }}-{{ type.type_code }}">{{ type.word_code }}</span>
                {% endfor %}
            {% endfor %}
            <input type="hidden" id="type-editor-form-default-value" value="/{{ ui_lang_code }}/type/add">
        </div>

    </details>

    <br>

    <details class="tutorial">
        <summary style="padding: 10px 0 10px 0;">
            <span class="text-link" style="font-size: 20px; font-weight: bold;">
                {{ loc_tutorial_themes }}
            </span>
        </summary>

        <div style="display: flex; flex-direction: column">
            <div class="dropdown input-field" style="width: 90%; margin: 0 0 5px 15px;" id="tutor-themes-dropdown">

                <div id="t-theme-value" class="text-link" onclick=setDropdown("tutor-themes-dropdown") style="font-size: 16px">* {{ loc_add_new_theme }} *</div>

                <div class="content" style="width: 90%; transform: translate(8px, 0) scale(1)">
                    <div style="padding: 2px 0 2px 0;">
                        <span class="text-link" id="t-theme-new" onclick="addNewTTheme()">* {{ loc_add_new_theme }} *</span><br>
                    </div>

                    {% for theme in tutor_themes %}
                        {% if theme.lang_code == ui_lang_code %}
                            <div class="text-link" id="selector-t-theme-{{ theme.theme_code }}" onclick="changeTThemeAdmin(this.id, {{ ui_lang_code }}, {{ theme.type_code }})">
                                {{ theme.dict_value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            {% for lang in ui_langs %}
            <form id="theme-editor-form-{{ lang.lang_code }}" action="/{{ ui_lang_code }}/theme/add" method="post">
                  <input id="t-theme-code-{{ lang.lang_code }}" type="hidden" name="theme_code" value="" required>
                  <input id="theme-lang-code-{{ lang.lang_code }}" type="hidden" name="lang_code" value="{{ lang.lang_code }}" required>
                  <input id="bounded-t-type-code-{{ lang.lang_code }}" type="hidden" name="type_code" value="{{ tutor_types[0].type_code }}" required>

                  <label style="width: 20%">{{ lang.abbreviation.upper() }}
                    <input class="input-field" style="width: 50%; text-align: center" name="theme_value" id="theme-value-{{ lang.lang_code }}"
                           type="text" placeholder="{{ lang.lang_value }} (1-100)" value="" required>

                    <input id="submit-theme-button-{{ lang.lang_code }}" type="submit" class="button foil pulse" name="submit" value="{{ loc_add_new }}">
                  </label>
            </form>
            {% endfor %}
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 10px;">
            <div style="padding-top: 5px">Bind to</div>
            <div class="dropdown input-field" style="width: 60%; margin: 0 5% 5px 5px;" id="bounded-tutor-types-dropdown">

                <div id="bounded-t-type-value" class="text-link" onclick=setDropdown("bounded-tutor-types-dropdown") style="font-size: 16px">{{ tutor_types[0].dict_value }}</div>

                <div class="content" style="width: 90%; transform: translate(8px, 0) scale(1)">
                    {% for type in tutor_types %}
                        {% if type.lang_code == ui_lang_code %}
                            <div class="text-link" id="bounded-t-type-{{ type.type_code }}" onclick="changeBoundedTTypeAdmin(this.id)">
                                {{ type.dict_value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

          <div class="button-section">
              <div id="delete-theme-button" style="display: none">
                <form id="theme-editor-form-deleter" action="" method="post">
                  <input type="submit" name="delete" class="button foil pulse" value="{{ loc_delete }}">
                </form>
              </div>
          </div>


        <!--        buffer-->
        <div style="display: none">
            {% for theme in tutor_themes %}
                <span id="theme-value-{{ theme.lang_code }}-{{ theme.theme_code }}">{{ theme.dict_value }}</span>
            {% endfor %}
            <input type="hidden" id="theme-editor-form-default-value" value="/{{ ui_lang_code }}/theme/add">
            <span id="bounded-t-type-default-value">* {{ loc_add_new_type }} *</span>
        </div>

    </details>

    <br>

    <details class="tutorial">
        <summary style="padding: 10px 0 10px 0;">
            <span class="text-link" style="font-size: 20px; font-weight: bold;">
                {{ loc_tutorial_dist_types }}
            </span>
        </summary>

        <div style="display: flex; flex-direction: column">
            <div class="dropdown input-field" style="width: 90%; margin: 0 0 5px 15px;" id="tutor-dist-types-dropdown">

                <div id="t-dist-type-value" class="text-link" onclick=setDropdown("tutor-dist-types-dropdown") style="font-size: 16px">* {{ loc_add_new_dist_type }} *</div>

                <div class="content" style="width: 90%; transform: translate(8px, 0) scale(1)">
                    <div style="padding: 2px 0 2px 0;">
                        <span class="text-link" id="t-dist-type-new" onclick="addNewTDistType()">* {{ loc_add_new_dist_type }} *</span><br>
                    </div>

                    {% for dist_type in tutor_dist_types %}
                        {% if dist_type.lang_code == ui_lang_code %}
                            <div class="text-link" id="selector-t-dist-type-{{ dist_type.dist_type_code }}" onclick="changeTDistTypeAdmin(this.id, {{ ui_lang_code }})">
                                {{ dist_type.dict_value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            {% for lang in ui_langs %}
            <form id="dist-type-editor-form-{{ lang.lang_code }}" action="/{{ ui_lang_code }}/dist-type/add" method="post">
                  <input id="t-dist-type-code-{{ lang.lang_code }}" type="hidden" name="dist_type_code" value="" required>
                  <input id="dist-type-lang-code-{{ lang.lang_code }}" type="hidden" name="lang_code" value="{{ lang.lang_code }}" required>

                  <label style="width: 20%">{{ lang.abbreviation.upper() }}
                    <input class="input-field" style="width: 50%; text-align: center" name="dist_type_value" id="dist-type-value-{{ lang.lang_code }}"
                           type="text" placeholder="{{ lang.lang_value }} (1-100)" value="" required>

                    <input id="submit-dist-type-button-{{ lang.lang_code }}" type="submit" class="button foil pulse" name="submit" value="{{ loc_add_new }}">
                  </label>
            </form>
            {% endfor %}
        </div>

          <div class="button-section">
              <div id="delete-dist-type-button" style="display: none">
                <form id="dist-type-editor-form-deleter" action="" method="post">
                  <input type="submit" name="delete" class="button foil pulse" value="{{ loc_delete }}">
                </form>
              </div>
          </div>


        <!--        buffer-->
        <div style="display: none">
            {% for dist_type in tutor_dist_types %}
                <span id="dist-type-value-{{ dist_type.lang_code }}-{{ dist_type.dist_type_code }}">{{ dist_type.dict_value }}</span>
            {% endfor %}
            <input type="hidden" id="dist-type-editor-form-default-value" value="/{{ ui_lang_code }}/dist-type/add">
        </div>

    </details>

    <br>

    <details class="tutorial">
        <summary style="padding: 10px 0 10px 0;">
            <span class="text-link" style="font-size: 20px; font-weight: bold;">
                {{ loc_languages }}
            </span>
        </summary>

        <div style="display: flex; flex-direction: column">
            <div class="dropdown input-field" style="width: 90%; margin: 0 0 5px 15px;" id="tutorial-langs-dropdown">

                <div id="t-lang-value" class="text-link" onclick=setDropdown("tutorial-langs-dropdown") style="font-size: 16px">* {{ loc_add_new_language }} *</div>

                <div class="content" style="width: 90%; transform: translate(8px, 0) scale(1)">
                    <div style="padding: 2px 0 2px 0;">
                        <span class="text-link" id="t-lang-new" onclick="addNewTLanguage()">* {{ loc_add_new_language }} *</span><br>
                    </div>

                    {% for lang in tutor_langs %}
                        <div class="text-link" id="selector-t-lang-{{ lang.lang_code }}" onclick="changeTLanguageAdmin(this.id, {{ ui_lang_code }})">
                            {{ lang.lang_value }}
                        </div>
                    {% endfor %}
                </div>

            </div>

            <form id="lang-editor-form" action="/{{ ui_lang_code }}/lang/add" method="post">
                  <input id="tutorial-lang-code" type="hidden" name="lang_code" value="" required>

                  <label style="width: 20%;">
                    {% for lang in tutor_langs %}
                        {% if lang.lang_code == ui_lang_code %}
                            <input class="input-field" style="width: 60%; text-align: center" name="lang_value" id="tutorial-lang-value"
                                   type="text" placeholder="{{ lang.dict_value }} (1-100)" value="" required>
                        {% endif %}
                    {% endfor %}
                    <input id="submit-lang-button" type="submit" class="button foil pulse" name="submit" value="{{ loc_add_new }}">
                  </label><br>
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <input id="is-ui-lang" name="is_ui_lang" type="checkbox" style="margin-top: 10px;">
                    <div style="padding-top: 7px;">
                        <label for="is-ui-lang">{{ loc_set_ui_language }}</label>
                    </div>
                </div>
                <div class="hidden-message" id="ui-lang-ability-error" style="padding-top: 10px">
                    {{ loc_ui_lang_ability_error }}
                </div>
            </form>
        </div>

          <div class="button-section">
              <div id="delete-lang-button" style="display: none">
                <form id="lang-editor-form-deleter" action="" method="post">
                  <input type="submit" name="delete" class="button foil pulse" value="{{ loc_delete }}">
                </form>
              </div>
          </div>


        <!--        buffer-->
        <div style="display: none">
            {% for lang in tutor_langs %}
                <span id="lang-value-{{ lang.lang_code }}">{{ lang.dict_value }}</span>
                <span id="is-ui-lang-{{ lang.lang_code }}">{{ lang.is_ui_lang }}</span>
            {% endfor %}
            <input type="hidden" id="lang-editor-form-default-value" value="/{{ ui_lang_code }}/lang/add">
        </div>

    </details>

    <br><br>

    <div>
        <div>
            <div style="font-size: 20px; font-weight: bold;">{{ loc_users }}</div>
        </div>

        <div style="display: flex; flex-direction: row; justify-items: center;">
            <div style="width: 5%; margin-top: 5px;" class="text-link" id="selector-user-sorting-by-name" title="{{ loc_sort }}"
                 onclick="sortUsersBy(this.id, {{ ui_lang_code }})">&#9660;</div>
            <div style="width: 45%; margin-top: 5px;" class="text-link" id="selector-user-sorting-by-credential" title="{{ loc_sort }}"
                 onclick="sortUsersBy(this.id, {{ ui_lang_code }})">&#9660;</div>
            <div style="width: 22%; margin-top: 5px;" class="text-link" id="selector-user-sorting-by-status" title="{{ loc_sort }}"
                 onclick="sortUsersBy(this.id, {{ ui_lang_code }})">&#9660;</div>
            <div style="width: 27%; display: flex; justify-content: right">
<!--                <input id="submit-all-users-button" type="submit" class="button foil pulse" name="submit" value="{{ loc_batch_save }}">-->
            </div>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center; padding-top: 10px;">
            {% for user in users %}
            <form id="user-editor-form-{{ user.id }}" action="/{{ ui_lang_code }}/user/{{ user.id }}/update-status" method="post">
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <input id="user-{{ user.id }}" type="hidden" name="id" value="{{ user.id }}" required>

                    <div style="padding-top: 5px; width: 5%;">
                        <input id="user-status-{{ user.id }}" name="is_active" type="hidden" value="{{ user.is_active }}">
                        <div id="user-status-image-{{ user.id }}" class="user-status{% if user.is_active != True %} inactive{% endif %}" onclick="toggleUserStatus(this.id)" title="{{ loc_user_delete }}">&#9679;</div>
                    </div>

                    <div style="width: 42%; overflow: hidden; text-align: left; padding: 5px 5px 0 5px;" title="{{ user.name }}">{{ user.name }}</div>

                    <input id="user-credential-{{ user.id }}" type="hidden" name="credential" value="{{ user.credential }}" required>
                    <div class="dropdown" style="width: 25%; margin: 5px 0 5px 0;" id="user-credential-dropdown-{{ user.id }}">
                        <div id="user-credential-value-{{ user.id }}" class="text-link" onclick=setDropdown("user-credential-dropdown-{{ user.id }}") style="font-size: 16px;">
                            {{ user.decoded_credential }}
                        </div>
                        <div class="content" style="width: 90%; transform: translate(1.5%, 0) scale(1)">
                            <div class="text-link" id="selector-user-credential-{{ user.id }}-{{ credential.user }}"
                                 onclick="changeUserCredential(this.id)">{{ decoded_credential.user }}
                            </div>
                            <div class="text-link" id="selector-user-credential-{{ user.id }}-{{ credential.moderator }}"
                                 onclick="changeUserCredential(this.id)">{{ decoded_credential.moderator }}
                            </div>
                            <div class="text-link" id="selector-user-credential-{{ user.id }}-{{ credential.admin }}"
                                 onclick="changeUserCredential(this.id)">{{ decoded_credential.admin }}
                            </div>
                        </div>
                    </div>

                    <div style="width: 27%;">
                        <input id="submit-user-button-{{ user.id }}" type="submit" class="button foil pulse" name="submit" value="{{ loc_save }}">
                    </div>

                </div>
            </form>
            {% endfor %}
        </div>
    </div>

    <!--     common buffer-->
    <div style="display: none">
        <span id="save-button-value">{{ loc_save }}</span>
        <span id="add-new-button-value">{{ loc_add_new }}</span>
    </div>

</div>