<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Tutorials</title>
    <script src="/static/scripts.js"></script>
</head>

<body onload="getAllowedThemes()">
    <div align="center" class="main-container">
        <div style="display: flex; width: 400px; align-items: center">

            <div style="width: 130px; justify-content: left; display: flex;">
                <a class="text-link" href="https://github.com/hardglitch" title="{{ loc_developer }}" style="font-size: 30px">
                    <div style="display: flex; flex-direction: row">
                        <div>
                            <span style="font-size: 30px">&#8962;</span>
                        </div>

                        <div style="font-size: 10px; text-align: left; padding-left: 5px; padding-top: 7px">
                            2023<br>
                            hardglitch
                        </div>
                    </div>
                </a>
            </div>


            <div style="width: 140px;">
                <a href="/{{ ui_lang_code }}" title="{{ loc_home }}" class="text-link" style="font-size: 22px">{{ loc_tutorials }}</a>
                {% if auth == True %}
                    <a href="/{{ ui_lang_code }}/tutorial/new" title="{{ loc_add_tutorial }}" class="text-link" style="font-size: 22px; font-weight: bold">+</a>
                {% endif %}
            </div>


            <div style="width: 130px; display: flex; justify-content: flex-end; align-items: center;">

                <div class="dropdown" id="ui-languages-dropdown" style="padding-right: 5px;">

                    <a class="text-link" onclick=setDropdown("ui-languages-dropdown") style="font-size: 16px">{{ ui_lang }}</a>

                    <div class="content" style="font-size: 16px; text-transform: uppercase; transform: translate(-5px, 0) scale(1);">
                    {% for lang in ui_langs %}
                        <div style="padding-top: 2px; padding-bottom: 2px;">
                            <a class="text-link" href="/{{ lang.lang_code }}">{{ lang.abbreviation }}</a><br>
                        </div>
                    {% endfor %}
                    </div>

                </div>

                {% if auth == True %}
                    <div style="overflow: hidden">
                        <a href="/{{ ui_lang_code }}/user/{{ current_user.id }}/me" title="{{ loc_profile }}" class="text-link" style="font-size: 20px">&#128125;</a>
                    </div>
                    <a href="/{{ ui_lang_code }}/user/logout" title="{{ loc_sign_out }}" class="text-link" style="font-size: 30px">&#10799;</a>
                {% else %}

                    <div class="dropdown" id="auth-dropdown">

                        <a title="{{ loc_sign_in_sign_up }}" onclick=setDropdown("auth-dropdown") class="text-link" style="font-size: 30px">&#9094;</a>

                        <form action="/{{ ui_lang_code }}/user/login" method="post">

                            <div class="content" style="transform: translate(-90%, -5%) scale(1);">
                               <div>
                                   <label>
                                       <input name="username" type="text" placeholder=“{{ loc_name }}” class="input-field" id="username">
                                   </label>
                               </div>

                               <div>
                                   <label>
                                       <input name="password" type="password" placeholder=“{{ loc_password }}” class="input-field" id="password">
                                   </label>
                               </div>

                               <div style="display: flex; justify-content: space-around; align-items: center">
                                   <input type="submit" class="button foil" value="{{ loc_signin }}">
                                   <a class="text-link" style="padding: 5px 5px 0 5px" href="/{{ ui_lang_code }}/user/reg">{{ loc_signup }}</a>
                               </div>

                            </div>

                        </form>
                    </div>
                {% endif %}

            </div>
        </div>

        {% if page == "main" %}
            {% include "main.html" %}
        {% elif page == "profile" %}
            {% include "profile.html" %}
        {% elif page == "profile-ext" %}
            {% include "profile-ext.html" %}
        {% elif page == "reg" %}
            {% include "reg.html" %}
        {% elif page == "exception" %}
            {% include "exception.html" %}
        {% elif page == "tutorial" %}
            {% include "tutorial.html" %}
        {% elif page == "tutorial-new" %}
            {% include "tutorial-new.html" %}
        {% endif %}

    </div>
</body>

</html>