<div class="reg">

  <b style="color: cornsilk">{{ loc_credentials }}:</b> {{ current_user.decoded_credential }}<br>
  <b style="color: cornsilk">{{ loc_added_tutorials }}:</b> {{ current_user.rating }}<br><br>

  <form action="/usr/{{ ui_lang_code }}/{{ current_user.id }}/edit" method="post">
    <div>

        <label>
          <input class="input-field" style="width: 90%" name="name" type="text" pattern="[a-zA-Z0-9_]*" placeholder="{{ current_user.name }}" value="{{ current_user.name }}">
        </label>

        <label>
          <input class="input-field" style="width: 90%" name="email" type="email" placeholder="{{ current_user.email }}" value="{{ current_user.email }}">
        </label>

        <label>
          <input class="input-field" style="width: 90%" name="password" type="password" placeholder="New_password (10-100)">
        </label>

      <div style="padding-top: 15px; display: flex; flex-direction: row; justify-content: space-around">
            <div>
                <input type="submit" class="button foil pulse" value="{{ loc_save }}">
            </div>
            <div>
              <input type="submit" name="delete" class="button foil pulse" value="{{ loc_delete }}"
                     formaction="del" formmethod="post">
            </div>
        </div>


    </div>

  </form>

</div>
