<div class="reg">

  <b style="color: cornsilk">{{ loc_credentials }}:</b> {{ current_user.decoded_credential }}<br>
  <b style="color: cornsilk">{{ loc_added_tutorials }}:</b> {{ current_user.rating }}<br><br>

  <form action="/{{ ui_lang_code }}/user/{{ current_user.id }}/edit" method="post">
    <div>

        <label>
          <input class="input-field" style="width: 90%" name="name" type="text" placeholder="{{ current_user.name }}" value="{{ current_user.name }}">
        </label>

        <label>
          <input class="input-field" style="width: 90%" name="email" type="email" placeholder="{{ current_user.email }}" value="{{ current_user.email }}">
        </label>

        <label>
          <input class="input-field" style="width: 90%" name="password" type="password" placeholder="New_password (10-100)">
        </label>

        <input type="submit" class="button foil" style="margin-top: 15px" value="{{ loc_save }}">

    </div>

  </form>

</div>
