<div class="reg">
  <form class="reg-form" action="/{{ ui_lang_code }}/user/add" method="post">

    <div>

      <label>
        <input class="input-field" style="width: 250px" name="name" type="text" placeholder="Your_Name (1-256, no spaces)">
      </label><br>

      <label>
        <input class="input-field" style="width: 250px" name="email" type="email" placeholder="youremail@example.com">
      </label><br>

      <label>
        <input class="input-field" style="width: 250px" name="password" type="password" placeholder="password99 (10-100)">
      </label><br>

      <button class="button foil">SignUp</button>

    </div>

  </form>
</div>
