<div style="padding-top: 10px;">

  <form action="/{{ ui_lang_code }}/tutorial/add" method="post">
    <div style="display: flex; flex-direction: column">

      <label>
        <input class="input-field" style="width: 90%; text-align: center" name="title" type="text" placeholder="Title (1-256)">
      </label>

      <label>
        <textarea class="input-field" style="height: 250px; width: 90%; resize: none; margin-top: 5px;" name="description" placeholder="Description (1-1024)"></textarea>
      </label>

        <label>
            <input class="input-field" style="width: 90%" name="type_code" disabled value="">
        </label>
        <div class="dropdown" style="transform: translate(0, -23px) scale(1); z-index: 1" id="tutor-types-dropdown">

            <div class="text-link" onclick=toggleTypeDropdown() style="font-size: 16px">{{ tutor_types[0].dict_value }}</div>

            <div class="content" style="width: 90%; transform: translate(15px, 0) scale(1)">
            {% for type in tutor_types %}
                <div style="padding-top: 2px; padding-bottom: 2px;">
                    <span class="text-link">{{ type.dict_value }}</span><br>
                </div>
            {% endfor %}
            </div>

        </div>

      <label>
        <input class="input-field" style="width: 90%; margin-top: 5px" name="source_link" type="url" placeholder="Source link (1-256)">
      </label>

      <div style="padding-top: 10px">
        <input type="submit" class="button foil" name="submit" value="Add New">
      </div>

    </div>

  </form>

</div>
