{% extends "base.html" %}
{% block content %}
  {% for tutor in tutors %}
      <div class="tutorial">
        <div class="container">

          <div class="catalog">
            <a class="text-link" href="">{{ tutor.type }}</a><br>
            <a class="text-link" href="" style="padding-left: 10px;">&#10551; {{ tutor.theme }}</a>
          </div>

          <div style="width: 350px;">
            <div>
              <h3 style="color: cornsilk; text-align: center">{{ tutor.title }}</h3>
            </div>
            <div style="margin-bottom: 20px; text-align: justify">
              {{ tutor.description }}
            </div>
            <div align="left"><b style="color: cornsilk">Language:</b> {{ tutor.language }}</div>
            <div align="left"><b style="color: cornsilk">Distribution:</b> {{ tutor.dist_type }}</div>
            <div align="left"><b style="color: cornsilk">Source:</b> <a href="{{ tutor.source_link }}">{{ tutor.source_link }}</a></div>
            <div style="padding-bottom: 10px; text-align: right">
              <a href="" class="text-link">{{ tutor.who_added }}</a>
            </div>
          </div>

        </div>
      </div>
  {% endfor %}
{% endblock %}
