{% extends "base.html" %}
{% block content %}
  {% for tutor in tutors %}
      <div style="width: 400px; background-color: #484848; margin: 10px; border-width: 0; border-radius: 15px; box-shadow: 0 0 10px 1px #222222;">
        <div style="margin: 10px">
          <div align="left" style="horiz-align: left; padding-top: 10px">{{ tutor.type }}</div>
          <div align="left" style="padding-left: 10px; horiz-align: left">&#10551; {{ tutor.theme }}</div>
        </div>

        <div style="width: 350px">
          <div>
            <h3 style="color: cornsilk">{{ tutor.title }}</h3>
          </div>
          <div align="justify" style="margin-bottom: 20px">
            {{ tutor.description }}
          </div>
          <div align="left"><b style="color: cornsilk">Language:</b> {{ tutor.language }}</div>
          <div align="left"><b style="color: cornsilk">Distribution:</b> {{ tutor.dist_type }}</div>
          <div align="left"><b style="color: cornsilk">Source:</b> <a href="{{ tutor.source_link }}" style="color: lightblue; text-decoration: none">{{ tutor.source_link }}</a></div>
          <div align="right" style="padding-bottom: 10px">{{ tutor.who_added }}</div>
        </div>
      </div>
  {% endfor %}
{% endblock %}
